.canvas-wrap {
    position: fixed;
    inset: 0;
}

.controls {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #efefef;
    padding: 20px;
    border-radius: 20px;
    z-index: 10;
    display: grid;
    font-family: sans-serif;
}

.controls h2 {
    margin-top: 0;
}